/* VARIABLES */

:root {
  --global-yellow: #ffea00;
  --global-black: #262626;
  --global-gray: #eff2f4;
  --global-white: #ffffff;
  --global-blue: #454ade;

  --discount-low-bg: #f0f1f2;
  --discount-medium-bg: #cfdbd5;
  --discount-high-bg: #454ade;
  --discount-extra-bg: #e743ff;
}

/* -- PRODUCTO -- */

/* Texto SEO bloque colapsable */

.product-details__grid .product-details--left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details__grid .product-details--left h4 {
  font-size: 1.2em;
  font-family: var(--body-font-family);
  font-weight: normal;
}

.btn--primary[disabled],
.btn--primary[disabled]:hover {
  color: var(--global-yellow);
}

/* -- COLECCIONES -- */

/* Bloque de promo */

.main-products-grid__results li.promo-item--grid_list {
  padding: calc(4 * var(--space-unit));
  background: var(--global-blue);
}

/* Header */

.collection-banner__media {
  background-color: var(--global-gray);
}

.collection-banner__media .img-fit {
  object-fit: contain;
}

/* -- BROWSE -- */

/* Etiquetas */

.product-label--sale,
.product-label--custom {
  border-radius: 6px;
  font-weight: 500;
}

.discount--low {
  background: var(--discount-low-bg);
  color: var(--global-black);
}

.discount--medium {
  background: var(--discount-medium-bg);
  color: var(--global-black);
}

.discount--high {
  background: var(--discount-high-bg);
  color: var(--global-white);
}

.discount--extra {
  background: var(--discount-extra-bg);
  color: var(--global-white);
}

/* Botones */

.btn--primary:not(.btn--extra-narrow),
.spr-button-primary,
.shopify-payment-button .shopify-payment-button__button--unbranded,
.shopify-challenge__button {
  background: linear-gradient(
      104deg,
      var(--global-black) 60%,
      var(--global-yellow) 60% 100%
    )
    no-repeat 100% 100%;
  background-size: 300% 100%;
  color: var(--global-black);
}

@media (hover: hover) and (pointer: fine) {
  .btn--primary:not(.slider-nav__btn):not([disabled]):not(
      .btn--extra-narrow
    ):hover,
  .btn--secondary:not(.slider-nav__btn):not([disabled]):hover,
  .shopify-challenge__button:not([disabled]):hover,
  .shopify-payment-button
    .shopify-payment-button__button--unbranded:not([disabled]):hover {
    background-position: 0 100%;
    color: var(--global-yellow);
  }
}

/* ---- RESPONSIVE ---- */

@media (max-width: 769px) {
  /* Espaciado contenedor detalle - producto */

  .product-main .container {
    margin-bottom: 30px;
  }
}
